@model IEnumerable<Sigfaz.Portal.Areas.Cidade.ViewModels.CidadeViewModel>

@{
    ViewBag.Title = "Cidades";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-responsive" id="TableCidade">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Nome)
        </td>
    </tr>
}

</table>
