@model IEnumerable<Sigfaz.Portal.Areas.Estado.ViewModels.EstadoViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoIbge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoIbge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EstadoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EstadoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EstadoId })
        </td>
    </tr>
}

</table>
