@model IEnumerable<Sigfaz.Portal.Areas.Basico.ViewModels.Cultura.CulturaIndexViewModel>

@{
    ViewBag.Title = "Culturas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CulturaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CulturaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CulturaId })
        </td>
    </tr>
}

</table>
