@model Sigfaz.Portal.Areas.Basico.ViewModels.Estado.EstadoDetalheViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>EstadoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoIbge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoIbge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
