
@model IEnumerable<Sigfaz.Portal.Areas.Basico.ViewModels.Estado.EstadoIndexViewModel>

@{
    ViewBag.Title = "Estados";
}

<div class="panel-body">
    <div class="dataTable_wrapper">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sigla)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CodigoIbge)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sigla)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoIbge)
                    </td>
                    <td>
                        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.EstadoId })
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
